body {
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    /* auto-fit = auto adjust columns */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.product-card{
    background: #fff;
    
}