body {
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
}


.block a {
    display: block;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}


.inline a {
    display: inline;
    background-color: #2ecc71;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
}


.inline-block a {
    display: inline-block;
    background-color: #9b59b6;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
}


.float a {
    float: left;
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
}

/* .float::after {
    content: "";
    clear: both;
    display: table;
} */